<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatCalendario"
        tools:targetApi="31">
        <activity
            android:name="com.alizzelol.ChatCalendario.RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.padres.PerfilUsuarioActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.padres.ListaEventosPorTipos"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.padres.MisEventosActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.padres.EventosDiaPadresActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.padres.ApuntarseEventoActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.EditarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.ListaPadresInscritos"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.DetallesUsuarioActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.ListaEventosActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.AnadirEventoActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.ListaUsuariosActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.AnadirUsuarioActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.EventosDiaActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.chat.ConversationActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.chat.ContactListActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.padres.CalendarioPadres"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.profesor.CalendarioProfesor"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.alizzelol.ChatCalendario.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>